@charset "utf-8";
/* CSS Document */



/*CSS front page*/


.accordions .accordions-head .ui-accordion-header-icon {
  display: none;
}

.accordions-lazy {
  text-align: center;
}

.accordion-edit {
  margin: 10px 0;
  text-align: left;
}

.accordions .accordions-head .accordions-head-title-toogle {
  display: none;
  padding: 0 10px;
}























































